@using PixelShop.Models

<div class="container" style="width:100%; position:relative;">
    <div class="col-md-2 logo-w3">
        <a href="index.html"><img src="~/images/logo.png" alt="logo pixel" /></a>
    </div>

    <div class="col-md-7 navigation-agileits">
        <nav class="navbar navbar-default">
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="/Home" class="hyper"><span>TRANG CHỦ</span></a></li>
                    <li class="dropdown ">
                        <a href="@Url.Action("DanhMuc", "TimKiem")" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>DANH MỤC<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi" style="width: 900px;">
                            <div class="row"> 
                                @{ List<DANHMUC> lstDMNu = ViewData["danhmucnu"] as List<DANHMUC>; }
                                <div class="col-sm-4">
                                    <p>ĐỒNG HỒ NỮ</p>
                                    <hr />
                                    <ul class="multi-column-dropdown">
                                        @for (int i = 0; i < lstDMNu.Count(); i++)
                                        {
                                            <li><a href="@Url.Action("Index", "TimKiem", new { DanhMuc = lstDMNu.ElementAt(i).MaDanhMuc})">@Html.DisplayFor(item => lstDMNu.ElementAt(i).TenDanhMuc)</a></li>
                                        }
                                    </ul>

                                </div> 
                                @{ List<DANHMUC> lstDMNam = ViewData["danhmucnam"] as List<DANHMUC>; }
                                <div class="col-sm-4">
                                    <p>ĐỒNG HỒ NAM</p>
                                    <hr />
                                    <ul class="multi-column-dropdown">
                                        @for (int i = 0; i < lstDMNam.Count(); i++)
                                        {
                                            <li><a href="@Url.Action("Index", "TimKiem", new { DanhMuc = lstDMNam.ElementAt(i).MaDanhMuc})">@Html.DisplayFor(item => lstDMNam.ElementAt(i).TenDanhMuc)</a></li>
                                        }
                                    </ul>

                                </div>
                                @{ List<DANHMUC> lstDMPhuKien = ViewData["danhmucphukien"] as List<DANHMUC>; }
                                <div class="col-sm-4">
                                    <p>PHỤ KIỆN</p>
                                    <hr />
                                    <ul class="multi-column-dropdown">
                                        @for (int i = 0; i < lstDMPhuKien.Count(); i++)
                                        {
                                            <li><a href="@Url.Action("Index", "TimKiem", new { DanhMuc = lstDMPhuKien.ElementAt(i).MaDanhMuc})">@Html.DisplayFor(item => lstDMPhuKien.ElementAt(i).TenDanhMuc)</a></li>
                                        }
                                    </ul>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("NhaSanXuat", "TimKiem")" class="dropdown-toggle hyper" data-toggle="dropdown"><span> HÃNG SẢN XUẤT <b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi">
                            <div class="row">
                                @{ List<NHASANXUAT> lstNSX = ViewData["nhasanxuat"] as List<NHASANXUAT>; }
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        @for (int i = 0; i < lstNSX.Count() / 2; i++)
                                        {
                                            <li><a href="@Url.Action("Index", "TimKiem", new { NhaSanXuat = lstNSX.ElementAt(i).MaNSX })">@Html.DisplayFor(item => lstNSX.ElementAt(i).TenNSX)</a></li>
                                        }
                                    </ul>

                                </div>
                                <div class="col-sm-4">

                                    <ul class="multi-column-dropdown">
                                        @for (int i = lstNSX.Count() / 2; i < lstNSX.Count(); i++)
                                        {
                                            ProductSearchModel psm = new ProductSearchModel();
                                            psm.NhaSanXuat = lstNSX.ElementAt(i).MaNSX;
                                             <li><a href="@Url.Action("Index", "TimKiem", new { NhaSanXuat = lstNSX.ElementAt(i).MaNSX })">@Html.DisplayFor(item => lstNSX.ElementAt(i).TenNSX)</a></li>
                                        }

                                    </ul>

                                </div>
                                <div class="col-sm-4 w3l">
                                    <a href="jewellery.html"><img src="/images/back6.jpg" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="/About" class="hyper"><span>GIỚI THIỆU</span></a></li>
                    <li><a href="contact.html" class="hyper"><span>LIÊN HỆ</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-3 search-agileinfo pull-right">
       
            @using (Html.BeginForm("Index", "TimKiem"))
            {
            <input type="search" name="Ten" placeholder="Tìm kiếm" required=""/>
            <button type="submit" class="btn btn-default search" aria-label="Left Align">
                <i class="fa fa-search" aria-hidden="true"> </i>
            </button>
            }
        
    </div>
    <div class="clearfix"></div>
</div>
<div class="minicart">
    @if (Session["cart"] == null || ((List<Item>)Session["cart"]).Count == 0)
    {
        <p style="color: red;">Giỏ hàng đang trống</p>
    }
    @if (Session["cart"] != null && ((List<Item>)Session["cart"]).Count > 0)
    {
        int? total = 0;
        foreach (Item item in (List<Item>)Session["cart"])
        {
            <div class="cart-header">
                @{total += item.Sanpham.GiaBan * item.Soluong;}
                <div class="close-checkout @item.Sanpham.MaSP"> </div>
                <div class="cart-sec simpleCart_shelfItem" style="margin-right:40px;">
                    <div class="cart-item cyc">
                        <img src="@item.Sanpham.HinhHienThi" class="sbmincart-img" alt="" />
                    </div>
                    <div class="cart-item-info">
                        <p class="sbmincart-name">@item.Sanpham.TenSP</p>
                        <p id="price" style="display:none;">@item.Sanpham.GiaBan</p>
                        <p id="qty">Số lượng: @item.Soluong</p>
                        <div class="delivery" style="margin-top:10px;">
                            <p class="total">Tổng tiền: @(item.Sanpham.GiaBan * item.Soluong)</p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <hr />
            </div>
        }
        <div class="sbmincart-footer"> 
            <p style="font-size: 15px;" id="totalorder">Tổng tiền hóa đơn: @total</p>
            <a href="/Checkout">
                <div class="viewcart">
                    <p style="color: white;">Chi tiết giỏ hàng</p>
                </div>
            </a>
        </div>
    }
</div>
