@Styles.Render("~/Content/css-login")
@Scripts.Render("~/bundles/scripts-login")
<script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/global/plugins/jquery-migrate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/global/plugins/forLogin.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/admin/pages/scripts/login.js")" type="text/javascript"></script>
<!-- BEGIN LOGIN -->
<div class="login">
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="../AccountPixelShop/Login" method="post">
            <h3 class="form-title">Đăng nhập</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    Nhập tài khoản và mật khẩu của bạn
                </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Tài khoản" name="email" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Mật khẩu" name="password" />
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success uppercase">Đăng nhập</button>
                <label class="rememberme check" style="width: 50%;">
                    <input type="checkbox" name="remember" value="1" />Lưu tài khoản
                </label>
            </div>
            <div class="login-options">
                <h4>Đăng nhập bằng</h4>
                <ul class="social-icons">
                    <li>
                        <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                    </li>
                </ul>
            </div>
            <div class="create-account">
                <p>
                    <a href="javascript:;" id="register-btn" class="uppercase" style="margin-bottom:10px;">Tạo tài khoản</a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" action="/AccountPixelShop/Signup" method="post">
            <h3>Đăng kí</h3>
            <p class="hint">
               Điền thông tin khách hàng
            </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Họ tên</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Họ tên" name="fullname" />
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Tài khoản</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Mật khẩu" name="password" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Nhập lại mật khẩu</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Nhập lại mật khẩu" name="rpassword" />
            </div>
            <div class="form-group margin-top-20 margin-bottom-20">
                <label class="check" style="width: 100%;">
                    <input type="checkbox" name="tnc" /> Tôi đồng ý với<a href="javascript:;">
                        Điều khoản</a>
                </label>
                <div id="register_tnc_error">
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn btn-default">Quay lại</button>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Đồng ý</button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>


</div>
