@using PixelShop.Models

<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h3>Đăng ký nhận tin</h3>
            <p>Chúng tôi sẽ gửi cập nhật những tin khuyến mãi &amp; báo giá mới nhất đến bạn!</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" value="Nhập Email để nhận tin khuyến mãi " 
                       onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="Đăng ký" />
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grids fgd1">
            <a href="index.html"><img src="~/images/logo1.png" alt="logo pixel" /></a>
            <ul>
                <li>12 Nguyễn Văn Cừ, Q5</li>
                <li>Thành phố Hồ Chí Minh</li>
                <li><a href="mailto:pixelshop03@gmail.com">pixelshop03@gmail.com</a></li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="col-md-3 footer-grids fgd2">
            <h4>Thông tin</h4>
            <hr />
            <ul>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Chế độ bảo hành</a></li>
                <li><a href="#">Hình thức thanh toán</a></li>
                <li><a href="#">FAQ's</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grids fgd3">
            <h4>Cửa hàng</h4>
            <hr />
            <ul>
                @{ ProductSearchModel psm = new ProductSearchModel();}
                <li><a href="@Url.Action("Index", "Search")">Apple</a></li>
                <li><a href="@Url.Action("Index", "Search")">Pebble</a></li>
                <li><a href="@Url.Action("Index", "Search")">Samsung</a></li>
                <li><a href="@Url.Action("Index", "Search")">Garmin</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grids fgd4">
            <h4>Tài khoản</h4>
            <hr />
            <ul>

                <li><a href="@Url.Action("Index", "AccountPixelShop")">Đăng nhập</a></li>
                <li><a href="@Url.Action("Index", "AccountPixelShop")">Đăng ký</a></li>
                <li><a href="#">Gợi ý </a></li>
                <li><a href="@Url.Action("Index", "Checkout")">Thanh toán</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <p class="copy-right">© 2016 PixelShop . Thiết kế bởi PixelShop</a></p>
    </div>
</div>
