@using PixelShop.Models
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="account-in">
    <div class="container">
        <div class="check_box">
            <div class="col-md-9 cart-items">
                <h1 class="label-shopping-bag">GIỎ HÀNG</h1>
                @{ int? sum = 0; }
                @if(Session["cart"]==null)
                {
                    <p class="null-cart" style="color: red;">Giỏ hàng đang trống</p>
                }
                @if (Session["cart"] != null)
                {
                    <p class="null-cart" style="color: red;" hidden>Giỏ hàng đang trống</p>
                    foreach (Item item in (List<Item>)Session["cart"])
                    {
                        <div class="cart-header">
                                <div class="close-checkout @item.Sanpham.MaSP"> </div>
                                <div class="cart-sec simpleCart_shelfItem">
                                    <div class="cart-item cyc">
                                        <img src="@item.Sanpham.HinhHienThi" class="img-responsive" alt="" />
                                    </div>
                                    <div class="cart-item-info">
                                        <h3>@item.Sanpham.TenSP</h3>
                                        <span>Mã sản phẩm: <span  class="idProduct">@item.Sanpham.MaSP</span></span>
                                        <br />       
                                        <p id="price" style="display:none;">@item.Sanpham.GiaBan</p>
                                             
                                        <input type="number" class="qtycart @item.Sanpham.MaSP" min="1" max="@item.Sanpham.SoLuongTon" value="@item.Soluong">
                                        @{
                                            sum += item.Sanpham.GiaBan * item.Soluong;
                                        }
                                        <div class="delivery">
                                            <p id="total">Tổng tiền: @(item.Sanpham.GiaBan * item.Soluong)</p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <hr />
                           </div>
                    }
                }
            </div>
            <div class="col-md-4 cart-total">
                <a class="continue" href="/Home/">Tiếp tục mua sắm</a>
                <div class="price-details">
                    <h3>Chi tiết hóa đơn</h3>
                    <span>Tổng cộng</span>
                    <span class="total1" id="checkout_total">@sum</span>
                    <span>Discount</span>
                    <span class="total1">---</span>
                    <span>Phí dịch vụ giao hàng</span>
                    <span class="total1">00.00 VNĐ</span>
                    <div class="clearfix"></div>
                </div>
                <ul class="total_price">
                    <li class="last_price"> <h4>Tổng cộng</h4></li>
                    <li class="last_price"><span id="checkout_total1">@sum</span></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"></div>
                @if (Session["username"] != null && Session["cart"] != null)
                {
                    <a class="order" href="@Url.Action("Index", "Payment")">Thanh toán</a>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
