@using PixelShop.Models
<div class="account-in">
    <div class="container">
        <div class="check_box">
            <div class="col-md-9 cart-items">
                <h1 class="label-shopping-bag">GIỎ HÀNG</h1>
                @if(Session["cart"]==null || ((List<Item>)Session["cart"]).Count==0)
                {
                    <p>Giỏ hàng đang trống</p>
                }
                @if (Session["cart"] != null)
                {
                    
                    foreach (Item item in (List<Item>)Session["cart"])
                    {
                        <div class="cart-header">
                            <a href="@Url.Action("Delete", "ShoppingCart", new {id= item.Sanpham.MaSP },null)">
                                <div class="close-checkout-1"> </div>
                            </a>
                                <div class="cart-sec simpleCart_shelfItem">
                                    <div class="cart-item cyc">
                                        <img src="@item.Sanpham.HinhHienThi" class="img-responsive" alt="" />
                                    </div>
                                    <div class="cart-item-info">
                                        <h3>@item.Sanpham.TenSP</h3>
                                        <span>Mã sản phẩm: <span  class="idProduct">@item.Sanpham.MaSP</span></span>
                                        <br />                                     
                                        <input type="number" class="qtycart" min="1" max="20" value="@item.Soluong">
                                        <div class="delivery">
                                            <p>Tổng tiền: @(item.Sanpham.GiaBan * item.Soluong)</p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                </div>
                        <hr />
                    }
                }
            </div>
            <div class="col-md-4 cart-total">
                <a class="continue" href="#">Tiếp tục mua sắm</a>
                <div class="price-details">
                    <h3>Chi tiết hóa đơn</h3>
                    <span>Tổng cộng</span>
                    <span class="total1">350.000.000 VNĐ</span>
                    <span>Discount</span>
                    <span class="total1">---</span>
                    <span>Phí dịch vụ giao hàng</span>
                    <span class="total1">00.00 VNĐ</span>
                    <div class="clearfix"></div>
                </div>
                <ul class="total_price">
                    <li class="last_price"> <h4>Tổng cộng</h4></li>
                    <li class="last_price"><span>80.000.000 VNĐ</span></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"></div>
                <a class="order" href="#">Thanh toán</a>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
