@using PixelShop.Models
@model PagedList.IPagedList<PixelShop.Models.CHITIETDONHANG>

@Styles.Render("~/Content/css-payment")

<div class="chitietlichsu">
    <div class="chitietinfo">
        <h2>Chi tiết lịch sử</h2>
        <h4>Mã đơn hàng: @Model.ElementAt(0).MaDH</h4>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet grey-cascade box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Giỏ hàng
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Sản phẩm
                                    </th>
                                    <th width="17%">
                                        Hình ảnh
                                    </th>
                                    <th>
                                        Giá bán
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                        Tổng cộng
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CHITIETDONHANG ct in Model)
                                {
                                    <tr>
                                        <td>
                                            @ct.SANPHAM.TenSP
                                        </td>
                                        <td>
                                            <img src="@ct.SANPHAM.HinhHienThi" style="width:50%;" />
                                        </td>
                                        <td>
                                            @ct.SANPHAM.giaStr
                                        </td>
                                        <td>
                                            @ct.SoLuongDat
                                        </td>
                                        <td>
                                            @{int? sumct = ct.SoLuongDat * ct.GiaBan;}
                                            @{string giatc = String.Format("{0:0,0}", @sumct) + "VNĐ"; }
                                            @giatc
                                        </td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12" style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("DetailPurchaseHistory", new { maDH = Model.ElementAt(0).MaDH, page = page }))
    </div>
</div>