@using PixelShop.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
            Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
      @Styles.Render("~/Content/css")
    <script src="@Url.Content("~/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
</head>
<body>
    @if (TempData["UserMessage"] != null)
    {
        <div class="dropdown-menu theme-panel div-iframeAdmin dropdown-custom customframe" id="outner">
        </div>
        @*Add New Frame *@
        <div class="dropdown-menu theme-panel div-iframeAdmin1 dropdown-custom customframe1" id="inner">
            <div class="row dropdown-menu div-iframeAdmin-content customframe2">
                <div class="col-md-12">
                    <div class="form-horizontal form-row-seperated" style="text-align:center; margin:50px;">
                        <span style="color: #ff0000; font-size: 22px;">Thông báo</span>
                        <hr />
                        @{
                            Message ms = TempData["UserMessage"] as Message;
                        }
                        <div class="alert @ms.CssClassName">
                            <strong>@ms.Title</strong>
                        </div>
                        <span>@ms.MessageAlert</span>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
                            }
     
    <div class="header-top-w3layouts">
            <div class="row">

                <div class="col-md-6 phone-w3l pull-left">
                    <div class="phone-shop">+0901328995</div>
                </div>
                <div class="col-md-6 phone-w3l pull-right">
                        @if (Session["username"] == null)
                        {
                            <a href="@Url.Action("Index", "AccountPixelShop")">
                                <div class="user-login">Đăng nhập</div>
                            </a>
                        }
                        else
                        {
                            <div class="user-login dropdown dropdown-user dropdown-dark">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-on-mobile" style="color: #ffffff;">
                                        @Session["username"]
                                    </span>
                                    <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default" style="background-color: #1e1e1e;">
                                    <li>
                                        <a href="@Url.Action("Index", "CapNhatThongTinKH")" style="margin-top:10px; color:white; font-size: 12px;">
                                            <i class="glyphicon glyphicon-pencil" style="margin-right: 5px;"></i> Đổi mật khẩu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login.html" style="margin-top:10px; color:white; font-size: 12px;">
                                            <i class="glyphicon glyphicon-list-alt" style="margin-right: 5px;"></i> Lịch sử mua hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "AccountPixelShop")" style="margin-top:10px; margin-bottom:10px; color:white; font-size: 12px;">
                                            <i class="glyphicon glyphicon-log-out" style="margin-right: 5px;"></i> Đăng xuất
                                        </a>
                                    </li>

                                </ul>
                          </div>
                        }
                        <div class="user-cart">
                            <div class="cart">
                                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>  Giỏ hàng
                            </div>
                        </div>
                         @{
                             int count = 0;
                             if (Session["cart"] != null)
                             {
                                 List<Item> lst = (List<Item>)Session["cart"];
                                 for(int i = 0; i< lst.Count(); i++)
                                 {
                                     count += lst[i].Soluong;
                                 }
                             }
                         }
                        <div class="user-numproduct">@count</div>
</div>
            </div>

            <div class="clearfix"></div>
    </div>
    <div class="header-bottom-w3ls">
        @{Html.RenderAction("Menu", "MenuComponent");}
    </div>
    @RenderBody()
    <div class="row">
        @{Html.RenderAction("Footer", "FooterComponent");}
    </div>


    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $("#outner").click(function () {
            $(this).remove();
            $("#inner").remove();
        });
    });
</script>
