@using PixelShop.Models
@{ 
    int dhchoxacnhan = int.Parse(ViewData["dhchoxacnhan"].ToString());
    List<DONHANG> listdh = (List<DONHANG>)(ViewData["listdhchoxacnhan"]);
}
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="/Admin" style="text-decoration: none;">
                <img src="~/images/logo1.png" alt="logo" class="logo-default" style="margin-top: 8px;" />
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER --> 
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
            <form class="search-form" action="#" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Tìm kiếm..." name="query" >
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                    </span>
                </div>
            </form>
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="separator hide">
                    </li>
                    <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-success">
                                @dhchoxacnhan
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3><span class="bold">5 Đơn hàng</span> gần nhất</h3>
                                <a href="@Url.Action("Order", "Admin")">Xem tất cả</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                    @for (int i = 0; i < listdh.Count; i++)
                                    {
                                        <li>
                                            <a href="@Url.Action("ViewOrder", "Admin", new { madh = listdh[i].MaDH })">
                                                <span class="time">@listdh[i].NgayDate.Value.ToString("dd/MM/yyyy")</span>
                                                <span class="details">
                                                   Đơn hàng: @listdh[i].MaDH
                                                </span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="separator hide">
                    </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile">
                                @Session["username"]
                            </span>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="@Url.Action("Index", "DetailInfoClient")">
                                    <i class="icon-key"></i> Đổi mật khẩu
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Logout", "AccountPixelShop")">
                                    <i class="icon-key"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="separator hide">
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
