@using PixelShop.Models
@using System.Globalization
@Styles.Render("~/Content/cssAdminIndex")
@Scripts.Render("~/bundles/scriptsAdminIndex")
<script src="@Url.Content("~/assets/global/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/global/plugins/jquery-migrate.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">


        $.ajax({
            method: "POST",
            url: "/Admin/AnalyseRevenueMonth",
            dataType: "json",
            success: function (result) {
                google.charts.load('current', { 'packages': ['corechart'] });

                // Set a callback to run when the Google Visualization API is loaded.
                google.charts.setOnLoadCallback(function(){
                    drawChartAnalyseRevenueMonth(result);
                });
            },
            error: function () {
            }
        });
        $.ajax({
            method: "POST",
            url: "/Admin/AnalyseCategory",
            dataType: "json",
            success: function (result) {
                google.charts.load('current', { 'packages': ['corechart'] });

                // Set a callback to run when the Google Visualization API is loaded.
                google.charts.setOnLoadCallback(function () {
                    drawChartAnalyseCategory(result);
                });
            },
            error: function () {
            }
        });
        $.ajax({
            method: "POST",
            url: "/Admin/AnalyseManufacturer",
            dataType: "json",
            success: function (result) {
                google.charts.load('current', { 'packages': ['corechart'] });

                // Set a callback to run when the Google Visualization API is loaded.
                google.charts.setOnLoadCallback(function () {
                    drawChartAnalyseManufacturer(result);
                });
            },
            error: function () {
            }
        });
        

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
        function drawChartAnalyseRevenueMonth(result) {
          var data1 = new google.visualization.DataTable();
          data1.addColumn('string', 'Thời gian');
          data1.addColumn('number', 'Doanh thu');
          var dataArray = [];
          $.each(result, function (i, obj) {
              dataArray.push([obj.Period + "", obj.Total]);
          });
        // Create the data table.
          data1.addRows(dataArray);
        // Set chart options
        var options = {
                       'width':$("#chart").width(),
                       'height': $("#chart").height()
        };
        // Instantiate and draw our chart, passing in some options.

        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data1, options);
      }
      function drawChartAnalyseCategory(result) {
          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Danh mục');
          data.addColumn('number', 'Doanh thu');
          var dataArray = [];
          $.each(result, function (i, obj) {
              var temp = obj.Category + "";
              var nhom;
              if (temp[temp.length - 1] == "1")
                  nhom = " - Nam";
              if (temp[temp.length - 1] == "2")
                  nhom = " - Nữ";
              if (temp[temp.length - 1] == "3")
                  nhom = " - Phụ kiện";
              var name = temp.substring(0, temp.length - 1) + nhom;
              dataArray.push([name , obj.Total]);
          });
          data.addRows(dataArray);

          // Set chart options
          var options = {
              'width': $("#chart").width(),
              'height': $("#chart").height()
          };
          // Instantiate and draw our chart, passing in some options.
          var chart_category = new google.visualization.PieChart(document.getElementById('chart_category'));
          chart_category.draw(data, options);
      }
      function drawChartAnalyseManufacturer(result) {
          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Nhà sản xuất');
          data.addColumn('number', 'Doanh thu');
          var dataArray = [];
          $.each(result, function (i, obj) {
              dataArray.push([obj.Manufacturer + "" , obj.Total]);
          });
          data.addRows(dataArray);

          // Set chart options
          var options = {
              'width': $("#chart").width(),
              'height': $("#chart").height()
          };
          // Instantiate and draw our chart, passing in some options.
          var chart_producer = new google.visualization.PieChart(document.getElementById('chart_producer'));
          chart_producer.draw(data, options);
      }
</script>
        @{ 
            CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
        }
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE HEAD -->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>Trang chủ</h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN PAGE BREADCRUMB -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="index.html">Trang chủ</a>
                        <i class="fa fa-circle"></i>
                    </li>
                </ul>
                <!-- END PAGE BREADCRUMB -->
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
                        <div class="dashboard-stat2">
                            <div class="display">
                                <div class="number">
                                    @{ double? tongDT = double.Parse(ViewData["doanhthu"].ToString());
                                        string tongDTStr = String.Format(elGR, "{0:0,0}", tongDT);
                                        }
                                    <h3 class="font-green-sharp">@tongDTStr<small class="font-green-sharp"> VNĐ</small></h3>
                                    <small>Tổng doanh thu</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-pie-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                        <span class="sr-only">76% progress</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title">
                                        progress
                                    </div>
                                    <div class="status-number">
                                        76%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="dashboard-stat2">
                            <div class="display">
                                <div class="number">
                                    @{ int? tongDH = int.Parse(ViewData["tongdh"].ToString());
                                       
                                    }
                                    <h3 class="font-red-haze">@tongDH</h3>
                                    <small>Đơn đặt Hàng</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-like"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                        <span class="sr-only">85% change</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title">
                                        change
                                    </div>
                                    <div class="status-number">
                                        85%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="dashboard-stat2">
                            <div class="display">
                                <div class="number">
                                    @{ double? dtTrungBinh =  double.Parse(ViewData["trungbinhdh"].ToString());
                                        string giaTB = String.Format(elGR, "{0:0,0}", dtTrungBinh) + " ";
                                    }
                                    <h3 class="font-blue-sharp">@giaTB<small class="font-blue-sharp">VNĐ</small></h3>
                                    <small>Trung bình đơn hàng</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-basket"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">45% grow</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title">
                                        grow
                                    </div>
                                    <div class="status-number">
                                        45%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- Begin: life time stats -->
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-sharp"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">Thống kê</span>
                                    
                                </div>
                              
                            </div>
                            <div class="portlet-body">
                                <div class="tabbable-line">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#overview_1" data-toggle="tab">
                                                Bán nhiều
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#overview_2" data-toggle="tab">
                                                Xem nhiều
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#overview_3" data-toggle="tab">
                                                Khách hàng
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                                Đặt hàng <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#overview_4" tabindex="-1" data-toggle="tab">
                                                        Các đơn hàng gần đây
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#overview_5" tabindex="-1" data-toggle="tab">
                                                        Các đơn hàng đang chờ xác nhận
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#overview_6" tabindex="-1" data-toggle="tab">
                                                        Các đơn hàng đã giao
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#overview_7" tabindex="-1" data-toggle="tab">
                                                        Các đơn hàng bị hủy
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="overview_1">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Sản phẩm
                                                            </th>
                                                            <th>
                                                                Giá
                                                            </th>
                                                            <th>
                                                                Đã bán
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (SANPHAM sp in ViewData["dsspbanchay"] as List<SANPHAM>)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;">
                                                                        @sp.TenSP
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @sp.giaStr
                                                                </td>
                                                                <td>
                                                                    @sp.SoLuongBan
                                                                </td>
                                                                <td>
                                                                    <a href="@Url.Action("EditProduct", "Admin", new { masp = sp.MaSP})" class="btn default btn-xs green-stripe">
                                                                        Chi tiết
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="overview_2">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Sản phẩm
                                                            </th>
                                                            <th>
                                                                Giá
                                                            </th>
                                                            <th>
                                                                Lượt xem
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (SANPHAM sp in ViewData["dsspxemnhieu"] as List<SANPHAM>)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;">
                                                                        @sp.TenSP
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @sp.giaStr
                                                                </td>
                                                                <td>
                                                                    @sp.SoLuotXem
                                                                </td>
                                                                <td>
                                                                    <a href="@Url.Action("EditProduct", "Admin", new { masp = sp.MaSP})" class="btn default btn-xs green-stripe">
                                                                        Chi tiết
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="overview_3">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Khách hàng
                                                            </th>
                                                            <th>
                                                                Tổng đặt hàng
                                                            </th>
                                                            <th>
                                                                Tổng hóa đơn
                                                            </th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0; i < (ViewData["topkh"] as List<TopUser>).Count; i++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;">
                                                                        @((ViewData["topkh"] as List<TopUser>).ElementAt(i).name)
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @((ViewData["topkh"] as List<TopUser>).ElementAt(i).quantity)
                                                                </td>
                                                                <td>
                                                                    @((ViewData["topkh"] as List<TopUser>).ElementAt(i).sum)
                                                                </td>
                                                                
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="overview_4">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Khách hàng
                                                            </th>
                                                            <th>
                                                                Ngày đặt
                                                            </th>
                                                            <th>
                                                                Hóa đơn
                                                            </th>
                                                            <th>
                                                                Trạng thái
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (UserOrder user in ViewData["dhmoinhat"] as List<UserOrder>)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;">
                                                                        @user.name
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @user.dateOrder.Value.Date.ToString("dd/MM/yyyy")
                                                                </td>
                                                                <td>
                                                                    @user.sum
                                                                </td>
                                                                <td>
                                                                    @switch (user.idStatus)
                                                                    {
                                                                        case -1:
                                                                            <span class="label label-sm label-danger">
                                                                                @user.status
                                                                            </span>
                                                                            break;

                                                                        case 0:
                                                                            <span class="label label-sm label-success">
                                                                                @user.status
                                                                            </span>
                                                                            break;
                                                                        case 1:
                                                                            <span class="label label-sm label-success">
                                                                                @user.status
                                                                            </span>
                                                                            break;
                                                                        case 2:
                                                                            <span class="label label-sm label-success">
                                                                                @user.status
                                                                            </span>
                                                                            break;
                                                                        case 3:
                                                                            <span class="label label-sm label-warning">
                                                                                @user.status
                                                                            </span>
                                                                            break;

                                                                    }

                                                                </td>
                                                                <td>
                                                                    <a href="@Url.Action("ViewOrder", "Admin", new { madh = user.id })" class="btn default btn-xs green-stripe">
                                                                        Chi tiết
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="overview_5">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Khách hàng
                                                            </th>
                                                            <th>
                                                                Ngày đặt
                                                            </th>
                                                            <th>
                                                                Hóa đơn
                                                            </th>
                                                            <th>
                                                                Trạng thái
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (UserOrder user in ViewData["dhdangcho"] as List<UserOrder>)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:;">
                                                                    @user.name
                                                                </a>
                                                            </td>
                                                            <td>
                                                                @user.dateOrder.Value.ToShortDateString()
                                                            </td>
                                                            <td>
                                                                @user.sum
                                                            </td>
                                                            <td>
                                                                @switch (user.idStatus)
                                                                {
                                                                    case -1:
                                                                        <span class="label label-sm label-danger">
                                                                            @user.status
                                                                        </span>
                                                                        break;

                                                                    case 0:
                                                                        <span class="label label-sm label-success">
                                                                            @user.status
                                                                        </span>
                                                                        break;
                                                                    case 1:
                                                                        <span class="label label-sm label-success">
                                                                            @user.status
                                                                        </span>
                                                                        break;
                                                                    case 2:
                                                                        <span class="label label-sm label-success">
                                                                            @user.status
                                                                        </span>
                                                                        break;
                                                                    case 3:
                                                                        <span class="label label-sm label-warning">
                                                                            @user.status
                                                                        </span>
                                                                        break;

                                                                }

                                                            </td>
                                                            <td>
                                                                <a href="@Url.Action("ViewOrder", "Admin", new { madh = user.id })" class="btn default btn-xs green-stripe">
                                                                    Chi tiết
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }

                                                    </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                        <div class="tab-pane" id="overview_6">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Khách hàng
                                                            </th>
                                                            <th>
                                                                Ngày đặt
                                                            </th>
                                                            <th>
                                                                Hóa đơn
                                                            </th>
                                                            <th>
                                                                Trạng thái
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (UserOrder user in ViewData["dhdagiao"] as List<UserOrder>)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;">
                                                                        @user.name
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @user.dateOrder.Value.ToShortDateString()
                                                                </td>
                                                                <td>
                                                                    @user.sum
                                                                </td>
                                                                <td>
                                                                    @switch (user.idStatus)
                                                                    {
                                                                        case -1:
                                                                            <span class="label label-sm label-danger">
                                                                                @user.status
                                                                            </span>
                                                                            break;

                                                                        case 0:
                                                                            <span class="label label-sm label-success">
                                                                                @user.status
                                                                            </span>
                                                                            break;
                                                                        case 1:
                                                                            <span class="label label-sm label-success">
                                                                                @user.status
                                                                            </span>
                                                                            break;
                                                                        case 2:
                                                                            <span class="label label-sm label-success">
                                                                                @user.status
                                                                            </span>
                                                                            break;
                                                                        case 3:
                                                                            <span class="label label-sm label-warning">
                                                                                @user.status
                                                                            </span>
                                                                            break;

                                                                    }

                                                                </td>
                                                                <td>
                                                                    <a href="@Url.Action("ViewOrder", "Admin", new { madh = user.id })" class="btn default btn-xs green-stripe">
                                                                        Chi tiết
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                        <div class="tab-pane" id="overview_7">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Khách hàng
                                                            </th>
                                                            <th>
                                                                Ngày đặt
                                                            </th>
                                                            <th>
                                                                Hóa đơn
                                                            </th>
                                                            <th>
                                                                Trạng thái
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (UserOrder user in ViewData["dhdahuy"] as List<UserOrder>)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;">
                                                                        @user.name
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @user.dateOrder.Value.ToShortDateString()
                                                                </td>
                                                                <td>
                                                                    @user.sum
                                                                </td>
                                                                <td>
                                                                    @switch (user.idStatus)
                                                                    {
                                                                        case -1:
                                                                            <span class="label label-sm label-danger">
                                                                                @user.status
                                                                            </span>
                                                                            break;

                                                                        case 0:
                                                                            <span class="label label-sm label-success">
                                                                                @user.status
                                                                            </span>
                                                                            break;
                                                                        case 1:
                                                                            <span class="label label-sm label-success">
                                                                                @user.status
                                                                            </span>
                                                                            break;
                                                                        case 2:
                                                                            <span class="label label-sm label-success">
                                                                                @user.status
                                                                            </span>
                                                                            break;
                                                                        case 3:
                                                                            <span class="label label-sm label-warning">
                                                                                @user.status
                                                                            </span>
                                                                            break;

                                                                    }

                                                                </td>
                                                                <td>
                                                                    <a href="@Url.Action("ViewOrder", "Admin", new { madh = user.id })" class="btn default btn-xs green-stripe">
                                                                        Chi tiết
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                  </div>
                        </div>
                        <!-- End: life time stats -->
                    </div>
                    <div class="col-md-6">
                        <!-- Begin: life time stats -->
                        <div class="portlet light">
                            <div class="portlet-title tabbable-line">
                                <div class="caption">
                                    <i class="icon-share font-red-sunglo"></i>
                                    <span class="caption-subject font-red-sunglo bold uppercase">Thống kê</span>
                                    <span class="caption-helper">cửa hàng...</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#portlet_tab1" data-toggle="tab" id="statistics_amounts_tab">
                                            Doanh thu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#portlet_tab2" data-toggle="tab">
                                            Thống kê theo danh mục
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#portlet_tab3" data-toggle="tab" id="statistics_amounts_tab">
                                            Thống kê theo hãng
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="portlet_tab1">
                                        <div id="chart" class="chart">
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="portlet_tab2">
                                        <div id="chart_category" class="chart">
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="portlet_tab3">
                                        <div id="chart_producer" class="chart">
                                        </div>
                                    </div>
                                </div>
 
                            </div>
                        </div>
                        <!-- End: life time stats -->
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
        <!-- END CONTENT --> 
