@using PixelShop.Models
@using System.Globalization
@Scripts.Render("~/bundles/scriptForPayment")
@{
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
}
@Styles.Render("~/Content/css-payment")
<div class="main">
    <h1>Thanh toán</h1>
    <div class="w3_agile_main_grids">
        <div class="w3layouts_main_grid_left">
            <div class="agileinfo_main_grid_left_grid">
                <h3>Tóm tắt giỏ hàng</h3>
                
                @if (Session["cart"] != null && ((List<Item>)Session["cart"]).Count() > 0)
                {
                    for (int i = 0; i < ((List<Item>)Session["cart"]).Count(); i++)
                    {
                        if(i == 4)
                        {
                            break;
                        }

                        Item item = ((List<Item>)Session["cart"]).ElementAt(i);
                        long giaSP = (long)(item.Sanpham.GiaBan * item.Soluong);
                        string giaFormat = String.Format(elGR,"{0:0,0}", giaSP) + " VNĐ";
                        <ul>
                            <li>@item.Sanpham.TenSP<span>Giá: @giaFormat</span></li>
                            <li>@item.Soluong</li>
                        </ul>
                      }
                }

                @if(((List<Item>)Session["cart"]).Count() >= 4)
                {
                    int solgCon = ((List<Item>)Session["cart"]).Count() - 4;

                    <a href="@Url.Action("Index", "Checkout")"><h3>Còn @solgCon trong giỏ hàng</h3></a>
                }


            </div>
            <div class="agile_amount">
                <h3>Tổng cộng</h3>
                @{ long tongtien = 0;
                    foreach(Item item in (List<Item>)Session["cart"])
                    {
                        tongtien += (long)(item.Sanpham.GiaBan * item.Soluong);
                    }

                    string giaTongCong = String.Format(elGR,"{0:0,0}", tongtien) + "VNĐ";
                }


                <h4>@giaTongCong</h4>
                <p>Giá đã bao gồm các loại thuế</p>
            </div>
        </div>
        <div class="agileits_main_grid_right">
            <div class="wthree_payment_grid">
                
                <div id="horizontalTab">
                    
          
                        <div class="agileits_w3layouts_tab2">
                           @using (Html.BeginForm("RecordOrders", "Payment", FormMethod.Post))
                           {
                                <section class="creditly-wrapper wthree, w3_agileits_wrapper">
                                    <div class="credit-card-wrapper">
                                        <div class="first-row form-group">
                                            <div class="controls">
                                                <label class="control-label">Thông tin người nhận</label>
                                                <input class="billing-address-name form-control" style="margin-bottom: 15px;" required type="text" onkeyup="checkValid(); return false;" id="tenngnhan" name="tenngnhan" placeholder="Người nhận">
                                                <div class="contain-mess" style="margin-bottom: 15px;">
                                                    <span id="messtenng" class="confirmMessage" ></span>
                                                </div>
                                                
                                            </div>
                                            <div class="w3_agileits_card_number_grids">
                                                <div class="w3_agileits_card_number_grid_left">
                                                    <div class="controls">
                                                        <label class="control-label">Số điện thoại người nhận</label>
                                                        <input class="input-medium bfh-phone form-control" style="margin-bottom: 15px;" required type="tel" onkeyup="checkValid(); return false;" id="sodt" name="sodt" maxlength="11" placeholder="Số điện thoại"
                                                               inputmode="numeric">
                                                        <div class="contain-mess" style="margin-bottom: 15px;">
                                                            <span id="messsdt" class="confirmMessage"></span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                               
                                                <div class="clear"> </div>
                                            </div>
                                            <div class="controls">
                                                <label class="control-label">Địa chỉ giao hàng</label>
                                                <input class="expiration-month-and-year form-control" style="margin-bottom: 15px;" required type="text" onkeyup="checkValid(); return false;" id="diaChi" name="diaChi" placeholder="Địa chỉ nhà">
                                               
                                                <div class="contain-mess" style="margin-bottom: 15px;">
                                                    <span id="messdiachi" class="confirmMessage"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <input id="btnXacNhan" type="submit" value="Xác nhận">
                                    </div>
                                </section>
                           }
                        </div>
                       
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    
</div>

